body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: #CCD5AE;
  color: #756d4e;
  text-align: center;
  padding: 25px;
}

h1
{font-family: 'Amatic SC', cursive;
  font-size: 45px;
  color: #584d3d;}

h2{
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  color: #584d3d;
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  background-color: #584d3d;
  padding: 10px;
  margin: 40px;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s ease;
}

a:hover {
  background-color: #342d24;
}

.container {
  padding-top: 15px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  width: 800px;
  margin: 25px auto;
}

#chinchilla {
  width: 150px;
  height: 150px;
  border-radius: 0%;
  padding-top: 15px;
}

.section {
  background-color: #FEFAE0;
  padding: 25px;
  margin-bottom: 16px;
  border-radius: 5px;
  border: 1px solid #EAEAEA;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
}

.bottom-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
